<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8" />
		<title>PDF-Duplex</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
	</head>
	<body>
            <div class="container-fluid">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert"> {{ message }} 
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    {% endfor %}
                    <!-- <div class="alert alert&#45;warning alert&#45;dismissible fade show" role="alert"> -->
                    <!--           <strong>Holy guacamole!</strong> You should check in on some of those fields below. -->
                    <!--             <button type="button" class="close" data&#45;dismiss="alert" aria&#45;label="Close"> -->
                    <!--                         <span aria&#45;hidden="true">&#38;times;</span> -->
                    <!--             </button> -->
                    <!-- </div> -->
            {% endif %}
            {% endwith %}

            <h1>PDF-Duplex-Scan</h1>
            <form method=post enctype=multipart/form-data>
                    <!-- <div class="form&#45;group"> -->
                    <!--         <label for="vorderseite">Vorderseite:</label> -->
                    <!--         <input type=file class="form&#45;control" name=vs id="vorderseite"> -->
                    <!-- </div> -->

                    <div class='form-group'>
                            <div class="input-group">
                                    <div class="custom-file">
                                            <input type="file" class="custom-file-input" name=vs id="vorderseite">
                                            <label class="custom-file-label" for='vorderseite'>Wähle Datei</label>
                                    </div>
                            </div>
                    </div>
                    <div class='form-group'>
                            <div class="input-group">
                                    <div class="custom-file">
                                            <input type="file" class="custom-file-input" name=rs id="rueckseite">
                                            <label class="custom-file-label" for='rueckseite'>Wähle Datei</label>
                                    </div>
                            </div>
                    </div>


                    <button type=submit class="btn btn-primary">Submit</button>
            </form>
            </div>
        <!-- Jquery und javascript müssen in dieser Reihenfolge implemtiert werden -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>        
	</body>
</html>
